@charset "utf-8";
/* CSS Document */
#head
{
	position:fixed;
	width:100%;
	height:200px;
	top:0;
	left:0;
	margin-top:20px;
	
}

#logo
{
	position:relative;
	overflow:hidden;
	top:0;
	
	
	
}
#menu
{
	position:relative;
	width:100%;
	height:200px;
	
}
#footer
{
	background-color:red;
}

#welcome { 
position:fixed; 
margin-top:190px;
left:0;
width:100%;
height:300px;
background: #a50e52; /* Old browsers */
background: -moz-linear-gradient(-45deg, #a50e52 0%, #411b68 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a50e52), color-stop(100%,#411b68)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #a50e52 0%,#411b68 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #a50e52 0%,#411b68 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #a50e52 0%,#411b68 100%); /* IE10+ */
background: linear-gradient(135deg, #a50e52 0%,#411b68 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50e52', endColorstr='#411b68',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#col1
{
	float:left;
}
#col2
{
	float:right;
}





	




